@use '../util' as *;

.cards{
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // gap: rem(30);
  // flex-wrap: wrap;
  // using flex with x breakpoints works
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(30);
  @include breakpoint(medium){
    // flex-direction: row;
    // flex-wrap: nowrap;
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint(large){
    grid-template-columns: repeat(4,1fr);
  }
  
}


.card {
  padding: rem(24);
  background: var(--card-bg);
  color: var(--text-color2);
  // width: rem(256);
  text-align:center;
  border-radius: rem(5);
  flex:1;
  overflow: hidden;
  cursor: pointer;
  transition: all 400ms ease-in-out !important;

  &:hover{
    background: var(--card-hover);
    transform: scale(1.08);

  }
  &--facebook{
    border-top: rem(5) solid var(--facebook);
    &, &__grid{

      box-shadow: rem(0) rem(0) rem(8) rem(2) var(--facebook-shadow);
    }
    &:hover, &__grid:hover{
      box-shadow: rem(0) rem(0) rem(16) rem(2) var(--facebook-shadow-hover);

    }
  }

  &--twitter{
    border-top: rem(5) solid var(--twitter);
    &,&__grid{

      box-shadow: rem(0) rem(0) rem(8) rem(2) var(--twitter-shadow);
    }
    &:hover,&__grid:hover{
      box-shadow: rem(0) rem(0) rem(16) rem(2) var(--twitter-shadow-hover);

    }
  }
  &--instagram{
    padding-top: rem(30);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      border-top-left-radius: rem(5);
      border-top-right-radius: rem(5);
      height: rem(5);
      background: linear-gradient(
        225deg,
        var(--instagram-end),
        var(--instagram-middle) 50.91%,
        var(--instagram-start) 100%
      ); 
    }
    &,&__grid{
      box-shadow: rem(0) rem(0) rem(8) rem(0) var(--instagram-shadow) ,  rem(0) rem(0) rem(4) rem(2) var(--instagram-shadow2) , rem(0) rem(0) rem(8) rem(0) var(--instagram-shadow3);
    }
    transition: all 400ms ease-in-out;
    &:hover , &__grid:hover{
      box-shadow: rem(-4) rem(0) rem(8) rem(0) var(--instagram-shadow-hover),  rem(0) rem(0) rem(12) rem(2) var(--instagram-shadow2-hover)  , rem(4) rem(0) rem(8) rem(0) var(--instagram-shadow3-hover);

    }
  }
  &--youtube{
    border-top: rem(5) solid var(--youtube);
    
    &,&__grid{
      box-shadow: rem(0) rem(0) rem(8) rem(2) var(--youtube-shadow);
    }
    &:hover, &__grid:hover{
      box-shadow: rem(0) rem(0) rem(16) rem(2) var(--youtube-shadow-hover);

    }
  }
  &--grid{
    text-align:initial;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: rem(20) 0;
    justify-items: start;


    &>.card__username{
      align-self: center;
      
    }
    &>img, &>.card__change{
      justify-self: end;
    }
    &>.card__change , &>.span{
      align-self: end;
    }

    &>.card__change{
      padding-bottom: rem(6);



    }
  }
  &__platform{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(8);
    height: rem(20);
    margin-bottom: rem(28);
    margin-top: rem(5);
  }
  &__icon{
    &--facebook{

    }
    &--twitter{
      
    }
    &--instagram{
      
    }
    &--youtube{
      
    }
  }
  &__username{
    font-size: rem(12);
    font-weight: 700;
  }
  &__followers{
    margin-bottom: rem(24);
    &__count{
      color: var(--text-color);
      &--big{
        font-size: rem(56);
        font-weight: 700;
        letter-spacing: rem(-2);
        line-height: 1;
        margin-bottom: rem(6);
      }
      &--small{
        font-size: rem(32);
        font-weight: 700;
      }
    }
    &__label{
      color: var(--dark-text1);
      font-size: rem(12);
      letter-spacing: rem(5);
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  &__change{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(4);
    &--up{
      // @extend .card__change;
      color: var(--limegreen)
    }
    &--down{
      color: var(--brightred)
    }
    &--number{
      font-size: rem(12);
      font-weight: 700;
    }
  }
}



// BEM = Block Element Modifier
// Block = card
// Element = icon, platform, count, change
// Modifier = facebook, twitter, etc

// card
// card__icon
// card__icon--facebook
// card__username

// card__count
// card__count--big, card__count--small
// card__label

// card__change
// card__change--up, card__change--down